* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #e6b812;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 13rem;
    background-color: var(--second-bg-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 2rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 2rem;
}

img {
    width: 40%;
}

.section-inicio {
    display: flex;
    align-items: center;
    height: 100%;
}

.inicio-left {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    justify-content: center;
}

.position-text {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
}

.inicio-right {
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.my-img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inicio-left h1 {
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.inicio-left h3 {
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
}

.inicio-left p {
    font-size: 1.6rem;
    margin: 5% 0;
}

span {
    color: var(--main-color);
}

.btn-box {
    display: flex;
    gap: 2rem;
}

.btn {
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.footer-inicio {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 45%;
    padding: 1rem;
}

.footer-inicio a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    color: var(--main-color);
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin: 10px;
}

.footer-inicio a:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.5s;
}